<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nosto self service sign-up</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script type="text/javascript" src="/javascripts/iframeHandler.js"></script>
        <script type="text/javascript" src="/javascripts/messageHandler.js"></script>
        <script>
        (function() {
            window.addEventListener("message", receiveNostoMessage, false);
        })();
        </script>
    </head>
    <body>

        {{{body}}}

    </body>
</html>